{% extends "layout.html" %}

{% block content %}


<script async src="/static/scripts/cadastro-controller.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>
                Tela de Cadastros
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form role="form">
                <div class="form-group">

                    <label for="nomePaciente">
                        Nome
                    </label>
                    <input type="text" class="form-control" id="nomePaciente" />
                </div>
                <div class="form-group">

                    <label for="rgPaciente">
                        Data de nascimento
                    </label>
                    <input type="date" class="form-control" id="nascimentoPaciente" />
                </div>
                <button type="button" class="btn btn-primary" onclick="salvar()">
                    Salvar
                </button>
            </form>
        </div>
        <div class="col-md-6">
            <form role="form">
                <div class="form-group">

                    <label for="cpfPaciente">
                        CPF
                    </label>
                    <input type="number" class="form-control" id="cpfPaciente" />
                </div>
                <div class="form-group">

                    <label for="emailPaciente">
                        E-mail
                    </label>
                    <input type="email" class="form-control" id="emailPaciente" />
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
</div>


{% endblock %}
