{% extends "layout.html" %}

{% block content %}
<script async src="/static/scripts/index-controller.js"></script>
<div class="row" style="margin: 15px -15px 15px 0px">
    <div class="col-md-1">
        <img alt="User icon" src="../static/images/user.png" class="" width="50" height="50" />
    </div>
    <div class="col-md-8">

        <p>Experimento: <button id="nomeExperimento" type="button" class="btn btn-link" data-toggle="popover" data-placement="bottom" title="Pacientes">Experimento </button></p>
        <p>Paciente: <button id="nomePaciente" type="button" class="btn btn-link" data-toggle="popover" data-placement="bottom" title="Pacientes">Paciente </button></p>
    </div>
    <div class="col-md-3">
        <label for="nomePaciente">
            Filtro
        </label>
        <select type="text" class="form-control" id="listaFiltros">
            <option id="filtroOriginal" value="Original" SELECTED>filtroOriginal</option>"
            <option id="filtroIIR" value="IIR" SELECTED>filtroIIR</option>"
            <option id="filtroFIR" value="FIR" SELECTED>filtroFIR</option>"
        </select>
    </div>
</div>

<div class="jumbotron">
    <div class="chart" id="bargraph" onload="generateGraph()">
        <script>
            var graphs={{ plot |safe}};
            Plotly.plot('bargraph',graphs,{});
        </script>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="tooltip">
            <p><button class="btn btn-info button-center" onclick="gerarGraficoOriginal('derivada')">Equa&ccedil&atildeo de diferen&ccedilas &raquo;</button></p>
            <span class="tooltiptext biel">$$ f'(x) =  \sum_{X0}^{Xn} \dfrac{f(x+\Delta x) - f(x)}{\Delta x} $$</span>
        </div>
    </div>
    <div class="col-md-3">
        <p><button class="btn btn-info button-center" onclick="gerarGraficoOriginal('interpolado')">Interpolado &raquo;</button></p>
    </div>
    <div class="col-md-3">
        <div class="tooltip">
            <p><button class="btn btn-info button-center" onclick="gerarGraficoOriginal('fft')">An&aacutelise de Fourier&raquo;</button></p>
            <span class="tooltiptext">$$ \left \{ f(t) \right \}  = \int_{-\infty}^{\infty} f(t) e^{-j \omega t} $$</span>
        </div>
    </div>
    <div class="col-md-3">
        <p><button class="btn btn-info button-center" onclick="gerarGraficoOriginal('original')">Quantizado &raquo;</button></p>
    </div>
</div>

<!-- loaded popover content -->
<div id="experimento-popover-content" style="display: none">
    <ul class="list-group custom-popover">
        {% for experimento in experimentos %}
        <li class="list-group-item" id="{{experimento['_id']}}" onclick="changeExperiment(this)">
            {{experimento['nome']}}
        </li>
        {% endfor %}
    </ul>
</div>

<div id="paciente-popover-content" style="display: none">
    <ul class="list-group custom-popover">
        {% for paciente in pacientes %}
        <li class="list-group-item" id="{{paciente['_id']}}" onclick="changePatient(this)">
            {{paciente['nome']}}
        </li>
        {% endfor %}
    </ul>
</div>

<!--<script src="../static/scripts/index-controller.js"></script>-->
    {% endblock %}
